__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/
.env
.lic
.env.*
*.pkl
*.gguf
*.safetensors
.gitignore
.DS_Store
.ipynb_checkpoints/
.idea/
.vscode/
*.log
dist/
.build/
.venv/
.env/
logs/
notebooks/