__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*.so
*.py[cod]
.DS_Store

# pyenv
.python-version

# Environments
.env
.venv
venv/
env/
*.env

#jupyter Notebook
.ipynb_checkpoints

#Large Data
*.csv
*.tsv
*.json
*.jsonl
*.ndjson
*.parquet
*.zip
*.gguf
*.jinja
*.safetensors
*.pkl
*.pickle
*.joblib
*.mp4

*.h5
*.hdf5
*.pt
*.pth
*.bin
*.ckpt
*.onnx

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

/coverage.xml
/.coverage

# Outputs
runs/
output_files/
plots/
wandb/
mlruns/
logs/

# Agentics
agentics.code-workspace
# Test reports
report.html

# IDE
.vscode
.DS_Store
Thumbs.db

# local folders
__*__/
